// PHONELIST
.phonesList { // <section>
	@include gradientBackground;
	display: flex;
	flex-direction: column;
	row-gap: 40px;
	padding: {
		top: 40px;
		right: 20px;
		bottom: 40px;
		left: 20px;
	}

	&__title { // <h2>
		text-align: center;
		margin: 0;
	}

	&__list { // <div>
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 30px;
	}

	&__link { // <a>
		display: block;
		width: 100%;
		text-decoration: none;
		border-radius: 10px;
	}
}
