// PHONELIST
.phonesList { // <section>
	@include gradientBackground;
	display: flex;
	flex-direction: column;
	row-gap: 50px;
	padding: {
		top: 50px;
		right: 20px;
		bottom: 50px;
		left: 20px;
	}

	&__title { // <h2>
		text-align: center;
		margin: 0;
		letter-spacing: 1px;

		@media screen {
			@media #{$portrait} {
				@include fluidContent(font-size, 22px, 32, 22, 100vw);

				@media #{$mq-w1080-up} {
					font-size: 32px;
				}
			}

			@media #{$landscape} {
				@include fluidContent(font-size, 25px, 35, 25, 100vh);

				@media #{$mq-h1080-up} {
					font-size: 35px;
				}
			}
		}
	}

	&__list { // <div>
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		row-gap: 30px;
		column-gap: 30px;

		@media #{$portrait} {
			max-width: 1080px;
		}

		@media #{$landscape} {
			max-width: 1920px;
		}
	}

	&__link { // <a>
		display: block;
		width: 300px;
		text-decoration: none;
		border-radius: 10px;
		-webkit-tap-highlight-color: transparent;
	}
}
