// FOOTER
footer {
	display: flex;
	flex-direction: column;
	row-gap: 30px;
	padding: {
		right: 20px;
		bottom: 20px;
		left: 20px;
	}

	.footer {
		&__credits { // <div>
			display: flex;
			flex-direction: column;
			align-items: center;
			row-gap: 20px;

			@media screen {
				@media #{$mq-w540-up} {
					flex-direction: row;
					justify-content: space-evenly;
					align-items: unset;
					row-gap: unset;
					column-gap: 40px;
				}
			}

			.credits {
				&__projectOwner { // <p>
					color: $primary;
					margin: 0;
					text-align: center;

					@media screen {
						@media #{$mq-w540-up} {
							width: 50%;
							text-align: unset;
						}
					}

					a {
						white-space: nowrap;
					}
				}

				&__apiProvider { // <p>
					@extend .credits__projectOwner;

					.apiProvider {
						&__link { // <a>
						}

						&__website { // <a>
						}
					}
				}
			}
		}
	}
}
