.phoneCard { // <section>
	@include whiteBackground;
	display: flex;
	flex-direction: column;
	row-gap: 20px;

	&__image { // <img>
		max-width: 150px;
		margin: {
			right: auto;
			left: auto;
		}
	}

	&__title { // <h3>
		@include productTitle;
	}
}