// HOME
.home { // <main>
	display: flex;
	flex-direction: column;
	row-gap: 40px;

	@media screen {
		@media #{$portrait} {
			@include fluidContent(padding-top, 40px, 50, 40, 100vw);
			@include fluidContent(padding-bottom, 40px, 50, 40, 100vw);

			@media #{$mq-w1080-up} {
				padding: {
					top: 50px;
					bottom: 50px;
				}
			}
		}
	}

	.userInterface { // <div>
		display: flex;
		flex-direction: column;
		row-gap: 20px;
		margin: {
			right: auto;
			left: auto;
		}

		&__controls { // <div>
			display: flex;
			justify-content: space-evenly;

			@media screen {
				@media #{$portrait} {
					@include fluidContent(width, 260px, 540, 260, 100vw);

					@media #{$mq-w1080-up} {
						width: 540px;
					}
				}
			}
		}
	}
}
