// GLOBAL STYLES

body {
	margin: 0;
	font-family: $notoSans;
	color: $secondary;
	background-color: $primary;
	font-size: 16px;

	main {
		padding: {
			top: 40px;
			right: 20px;
			bottom: 40px;
			left: 20px;
		}
	}
}