// VARIABLES

// Fonts
@import
	url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap"),
	url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap')
;

$notoSans: "Noto Sans", sans-serif;
$shareTechMono: "Share Tech Mono", arial;

// Colors
$primary: rgb(26, 39, 101);
$secondary: rgb(43, 64, 167);
$white: rgb(250, 250, 250);
$gradient: linear-gradient(90deg, $primary 0%, $secondary 100%);