// VARIABLES
// Fonts
@import
	url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap"),
	url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap')
;

$notoSans: "Noto Sans", sans-serif;
$shareTechMono: "Share Tech Mono", arial;

// Colors
$primary: rgb(26, 39, 101);
$secondary: rgb(43, 64, 167);
$white: rgb(250, 250, 250);
$warning: rgb(101, 26, 39);
$gradient: linear-gradient(90deg, $primary 0%, $secondary 100%);

// Orientations
$portrait: "(orientation: portrait)";
$landscape: "(orientation: landscape)";

// Breakpoints
$bp-540: 33.75rem; // 540px
$bp-1080: 67.5rem; // 1080px

// Media queries
$mq-w540-up: "(min-width: #{$bp-540})";
$mq-w1080-up: "(min-width: #{$bp-1080})";

$mq-h1080-up: "(min-height: #{$bp-1080})";
