// MODAL
.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	background-color: $primary;
	overflow: scroll;
	padding: 20px;

	&__gallery { // <div>
		@extend .modal;

		.gallery { // <div>
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			row-gap: 20px;
			column-gap: 20px;

			&__image {  // <img>
				padding: 10px;
				background-color: white;
				border-radius: 20px;
				width: 100px;
			}
		}

		&--closed {
			display: none;
		}
	}

	&__fullscreen { // <div>
		@extend .modal;

		.fullscreen { // <div>
			display: flex;
			align-items: center;

			&__image { // <img>
				width: calc(100% - 20px);
				padding: 10px;
				background-color: white;
				border-radius: 20px;
			}
		}

		&--closed {
			@extend .modal__gallery--closed;
		}
	}
}
