// MODAL
.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	background-color: $primary;
	overflow-y: scroll;
	padding: 20px;

	&__gallery { // <div>
		@extend .modal;
		justify-content: center;
		align-items: center;
		row-gap: 20px;
		column-gap: 20px;
		flex-wrap: wrap;

		.gallery__image {  // <img>
			padding: 10px;
			background-color: white;
			border-radius: 20px;
			width: calc(50% - 30px);
		}
	}

	&__fullscreen { // <div>
		@extend .modal;
		padding: 0;
		align-items: center;

		.fullscreen__image { // <img>
			width: calc(100% - 20px);
			padding: 10px;
			background-color: white;
			border-radius: 20px;
			vertical-align: bottom;
		}
	}
}
