// TITLE
.header__title {
	@include globalTitleSettings;

	@media screen {
		@media #{$portrait} {
			@include fluidContent(font-size, 35px, 50, 35, 100vw);
			@include fluidContent(border-radius, 59px, 76, 59, 100vw);

			@media #{$mq-w1080-up} {
				font-size: 50px;
				border-radius: 76px;
			}
		}

		@media #{$landscape} {
			@include fluidContent(font-size, 35px, 60, 35, 100vh);
			@include fluidContent(border-radius, 59px, 88, 59, 100vh);

			@media #{$mq-h1080-up} {
				font-size: 60px;
				border-radius: 88px;
			}
		}
	}
}

.footer__title {
	@include globalTitleSettings;

	@media screen {
		@media #{$portrait} {
			@include fluidContent(font-size, 30px, 40, 30, 100vw);
			@include fluidContent(border-radius, 54px, 65, 54, 100vw);

			@media #{$mq-w1080-up} {
				font-size: 40px;
				border-radius: 65px;
			}
		}

		@media #{$landscape} {
			@include fluidContent(font-size, 30px, 50, 30, 100vh);
			@include fluidContent(border-radius, 54px, 76, 54, 100vh);

			@media #{$mq-h1080-up} {
				font-size: 50px;
				border-radius: 76px;
			}
		}
	}
}
