// TITLE
@mixin globalTitleSettings {
	margin: 0;
	font: {
		family: $shareTechMono;
		weight: 100;
	}
	text-align: center;
	background: $gradient;
	color: $white;
	box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.4);
	padding: {
		top: 10px;
		right: 10px;
		bottom: 10px;
		left: 10px;
	}

	@media screen {
		@media #{$portrait} {
			@include fluidContent(border-radius, 59px, 76, 59, 100vw);

			@media #{$mq-w1080-up} {
				border-radius: 76px;
			}
		}
	}
}

.header__title {
	@include globalTitleSettings;

	@media screen {
		@media #{$portrait} {
			@include fluidContent(font-size, 35px, 50, 35, 100vw);

			@media #{$mq-w1080-up} {
				font-size: 50px;
			}
		}
	}
}

.footer__title {
	@include globalTitleSettings;
}
