// BUTTON
.button {
	&__brands { // <button>
		margin: 0;
		padding: 0;
		border: none;
		width: 50px;
		height: 50px;
		border-radius: 50px;
		outline: {
			style: solid;
			width: 1px;
			color: $primary;
		}
		background-color: $white;
		-webkit-tap-highlight-color: transparent;
		transition: {
			property: background-color;
			duration: 0.2s;
		}

		@media screen {
			@media (hover: hover) {
				&:hover {
					cursor: pointer;
				}
			}
		}
	}

	&__search { // <button>
		@extend .button__brands;
	}

	&__clear { // <button>
		@extend .button__brands;
	}

	&__validate {
		@extend .button__brands;
		color: $primary;
		font: {
			family: $notoSans;
			weight: 900;
		}
		transition: {
			property: color;
			duration: 0.2s;
		}

		@media screen {
			@media (hover: hover) {
				&:hover {
					cursor: pointer;
					color: $white;
				}
			}
		}

		&Selection { // <button>
			@extend .button__validate;
		}

		&Terms { // <button>
			@extend .button__validate;
		}
	}
}

.touchButton {
	background-color: $primary;
	color: $white;
}
