// SVG
.svg {
	&__brands { // <svg>
		fill: $primary;
		transition: {
			property: fill;
			duration: 0.2s;
		}

		@media screen {
			@media (hover: hover) {
				&:hover {
					fill: $white;
				}
			}
		}
	}

	&__search { // <svg>
		@extend .svg__brands;
	}

	&__clear { // <svg>
		@extend .svg__brands;
		pointer-events: none;
	}
}

.touchSVG {
	fill: $white;
}
