// HEADER

header {
	display: flex;
	justify-content: center;

	h1 {
		margin: 0;
		padding: {
			top: 20px;
			bottom: 20px;
		}
		font: {
			family: $shareTechMono;
			size: 40px;
			weight: 100;
		}
		letter-spacing: -1px;
	}
}