/*
	Smart Mobiles
	Started on December 2022
	By Arnaud De Baerdemaeker
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  color: rgb(250, 250, 250);
  background-color: rgb(250, 250, 250);
  font-size: 16px;
}

.scroll--blocked {
  overflow-y: hidden;
}

.loading {
  color: rgb(26, 39, 101);
  text-align: center;
  font-size: 20px;
}

header {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}
header .header__link {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}

.header__title {
  margin: 0;
  font-family: "Share Tech Mono", arial;
  font-weight: 100;
  text-align: center;
  background: linear-gradient(90deg, rgb(26, 39, 101) 0%, rgb(43, 64, 167) 100%);
  color: rgb(250, 250, 250);
  border-radius: 59px;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.4);
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-size: 35px;
  letter-spacing: -1px;
}

.footer__title {
  margin: 0;
  font-family: "Share Tech Mono", arial;
  font-weight: 100;
  text-align: center;
  background: linear-gradient(90deg, rgb(26, 39, 101) 0%, rgb(43, 64, 167) 100%);
  color: rgb(250, 250, 250);
  border-radius: 59px;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.4);
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-bottom: 40px;
}

.home, .phoneDetails {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.home .userInterface, .phoneDetails .userInterface {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-right: 20px;
  padding-left: 20px;
}
.home .userInterface__controls, .phoneDetails .userInterface__controls {
  display: flex;
  justify-content: space-evenly;
}

.button__brands, .button__previous, .button__next, .button__close, .button__validate, .button__validateTerms, .button__validateSelection, .button__clear, .button__search {
  margin: 0;
  padding: 0;
  border: none;
  width: 50px;
  height: 50px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(26, 39, 101);
  border-radius: 50px;
  background-color: rgb(250, 250, 250);
  -webkit-tap-highlight-color: transparent;
  transition-property: background-color;
  transition-duration: 0.2s;
}
@media screen and (hover: none) {
  .button__brands:active, .button__previous:active, .button__next:active, .button__close:active, .button__validate:active, .button__validateTerms:active, .button__validateSelection:active, .button__clear:active, .button__search:active {
    background-color: rgb(26, 39, 101);
  }
}
@media screen and (hover: hover) {
  .button__brands:hover, .button__previous:hover, .button__next:hover, .button__close:hover, .button__validate:hover, .button__validateTerms:hover, .button__validateSelection:hover, .button__clear:hover, .button__search:hover {
    cursor: pointer;
    background-color: rgb(26, 39, 101);
  }
  .button__brands:hover .svg__brands, .button__brands:hover .svg__next, .button__brands:hover .svg__previous, .button__brands:hover .svg__close, .button__brands:hover .svg__clear, .button__brands:hover .svg__search, .button__previous:hover .svg__brands, .button__previous:hover .svg__next, .button__previous:hover .svg__previous, .button__previous:hover .svg__close, .button__previous:hover .svg__clear, .button__previous:hover .svg__search, .button__next:hover .svg__brands, .button__next:hover .svg__next, .button__next:hover .svg__previous, .button__next:hover .svg__close, .button__next:hover .svg__clear, .button__next:hover .svg__search, .button__close:hover .svg__brands, .button__close:hover .svg__next, .button__close:hover .svg__previous, .button__close:hover .svg__close, .button__close:hover .svg__clear, .button__close:hover .svg__search, .button__validate:hover .svg__brands, .button__validate:hover .svg__next, .button__validate:hover .svg__previous, .button__validate:hover .svg__close, .button__validate:hover .svg__clear, .button__validate:hover .svg__search, .button__validateTerms:hover .svg__brands, .button__validateTerms:hover .svg__next, .button__validateTerms:hover .svg__previous, .button__validateTerms:hover .svg__close, .button__validateTerms:hover .svg__clear, .button__validateTerms:hover .svg__search, .button__validateSelection:hover .svg__brands, .button__validateSelection:hover .svg__next, .button__validateSelection:hover .svg__previous, .button__validateSelection:hover .svg__close, .button__validateSelection:hover .svg__clear, .button__validateSelection:hover .svg__search, .button__clear:hover .svg__brands, .button__clear:hover .svg__next, .button__clear:hover .svg__previous, .button__clear:hover .svg__close, .button__clear:hover .svg__clear, .button__clear:hover .svg__search, .button__search:hover .svg__brands, .button__search:hover .svg__next, .button__search:hover .svg__previous, .button__search:hover .svg__close, .button__search:hover .svg__clear, .button__search:hover .svg__search {
    fill: rgb(250, 250, 250);
  }
}
.button__validate, .button__validateTerms, .button__validateSelection {
  color: rgb(26, 39, 101);
  font-family: "Noto Sans", sans-serif;
  font-weight: 900;
  transition-property: color;
  transition-duration: 0.2s;
}
@media screen and (hover: hover) {
  .button__validate:hover, .button__validateTerms:hover, .button__validateSelection:hover {
    cursor: pointer;
    color: rgb(250, 250, 250);
  }
}
.button__close {
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(250, 250, 250);
}
.button__previous, .button__next {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(250, 250, 250);
}
.touchButton, .touchButton--modal {
  background-color: rgb(26, 39, 101);
  color: rgb(250, 250, 250);
}
.svg__brands, .svg__next, .svg__previous, .svg__close, .svg__clear, .svg__search {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  fill: rgb(26, 39, 101);
  transition-property: fill;
  transition-duration: 0.2s;
}
@media screen and (hover: none) {
  .svg__brands:active, .svg__next:active, .svg__previous:active, .svg__close:active, .svg__clear:active, .svg__search:active {
    fill: rgb(250, 250, 250);
  }
}
@media screen and (hover: hover) {
  .svg__brands:hover, .svg__next:hover, .svg__previous:hover, .svg__close:hover, .svg__clear:hover, .svg__search:hover {
    fill: rgb(250, 250, 250);
  }
}
.svg__previous {
  transform: rotateZ(90deg);
}
.svg__next {
  transform: rotateZ(-90deg);
}

.touchSVG {
  fill: rgb(250, 250, 250);
}

.userInput__dropdown, .userInput__search {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.userInput__dropdown .dropdown__label, .userInput__search .dropdown__label, .userInput__search .search__label {
  color: rgb(26, 39, 101);
  text-align: center;
  font-size: 18px;
}
.userInput__dropdown .dropdown__fieldsContainer, .userInput__search .dropdown__fieldsContainer, .userInput__search .search__fieldsContainer {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.userInput__dropdown .dropdown__selection, .userInput__dropdown .userInput__field, .userInput__search .dropdown__selection, .userInput__search .userInput__field, .userInput__search .search__field {
  width: calc(100% - 60px);
  height: 50px;
  border: none;
  border-radius: 50px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(26, 39, 101);
  outline: none;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg width='50' height='50' viewBox='0 0 50 50' xmlns='http://www.w3.org/2000/svg'><path d='M24.2929 31.2929L8 15C7.44772 14.4477 6.55228 14.4477 6 15C5.44772 15.5523 5.44771 16.4477 6 17L24.2929 35.2929C24.6834 35.6834 25.3166 35.6834 25.7071 35.2929L44 17C44.5523 16.4477 44.5523 15.5523 44 15C43.4477 14.4477 42.5523 14.4477 42 15L25.7071 31.2929C25.3166 31.6834 24.6834 31.6834 24.2929 31.2929Z' fill='rgb(18, 73, 94)'/></svg>");
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  color: rgb(26, 39, 101);
}
.userInput__search .search__field {
  background-image: unset;
}
.dropdown__warning, .search__warning {
  background-color: rgb(101, 26, 39);
  text-align: center;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 22px;
}

.phonesList {
  background-image: linear-gradient(90deg, rgb(26, 39, 101) 0%, rgb(43, 64, 167) 100%);
  border-radius: 20px;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
}
.phonesList__title {
  text-align: center;
  margin: 0;
}
.phonesList__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}
.phonesList__link {
  display: block;
  width: 100%;
  text-decoration: none;
  border-radius: 10px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.pagination__localization {
  margin: 0;
  text-align: center;
}

.phoneCard {
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.phoneCard__image {
  margin-right: auto;
  margin-left: auto;
}
.phoneCard__title {
  text-align: center;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  color: rgb(26, 39, 101);
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.phoneDetails__title {
  text-align: center;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  color: rgb(26, 39, 101);
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin-right: 20px;
  margin-left: 20px;
}
.phoneDetails__presentation {
  background-image: linear-gradient(90deg, rgb(26, 39, 101) 0%, rgb(43, 64, 167) 100%);
  border-radius: 20px;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
}
.phoneDetails__presentation .presentation {
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 20px;
  background-color: white;
}
.phoneDetails__presentation .presentation__thumbnailContainer {
  display: flex;
  justify-content: center;
}
.phoneDetails__presentation .informations dl {
  margin: 0;
}
.phoneDetails__presentation .informations dl dt {
  font-weight: 900;
}
.phoneDetails__presentation .informations dl dt:not(:first-child) {
  margin-top: 20px;
}
.phoneDetails__presentation .informations dl dd {
  margin: 0;
}
.phoneDetails__specifications {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  padding-right: 20px;
  padding-left: 20px;
  color: rgb(26, 39, 101);
}
.phoneDetails__specifications .specifications {
  display: inherit;
  align-items: stretch;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 20px;
}
.phoneDetails__specifications .specifications__container {
  display: inherit;
  align-items: start;
  background-image: linear-gradient(90deg, rgb(26, 39, 101) 0%, rgb(43, 64, 167) 100%);
  border-radius: 35px;
}
.phoneDetails__specifications .specifications__container .container__title {
  display: inherit;
  flex-direction: column-reverse;
  align-items: center;
  text-transform: uppercase;
  margin: 0;
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
}
.phoneDetails__specifications .specifications__container .container__title .title {
  transform: rotateZ(-90deg);
  color: rgb(250, 250, 250);
}
.phoneDetails__specifications .specifications__container .container__title .space {
  height: 25px;
}
.phoneDetails__specifications .specifications dl {
  margin: 0;
}
.phoneDetails__specifications .specifications dl dt {
  font-weight: 900;
}
.phoneDetails__specifications .specifications dl dt:not(:first-child) {
  margin-top: 20px;
}
.phoneDetails__specifications .specifications dl dd {
  margin: 0;
  white-space: pre-line;
}

.modal, .modal__fullscreen, .modal__gallery {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  background-color: rgb(26, 39, 101);
  overflow-y: scroll;
  padding: 20px;
}
.modal__gallery {
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  -moz-column-gap: 20px;
       column-gap: 20px;
  flex-wrap: wrap;
}
.modal__gallery .gallery__image {
  padding: 10px;
  background-color: white;
  border-radius: 20px;
  width: calc(50% - 30px);
}
.modal__fullscreen {
  padding: 0;
  align-items: center;
}
.modal__fullscreen .fullscreen__image {
  width: calc(100% - 20px);
  padding: 10px;
  background-color: white;
  border-radius: 20px;
  vertical-align: bottom;
}

footer {
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
}
footer .footer__projectOwner, footer .footer__apiProvider {
  color: rgb(26, 39, 101);
  text-align: center;
}