// USERINPUT
.userInput {
	&__dropdown { // <form>
		display: flex;
		flex-direction: column;
		row-gap: 10px;

		&--closed {
			display: none;
		}

		.dropdown {
			&__label { // <label>
				color: $primary;
				text-align: center;
				font-size: 18px;
			}

			&__fieldsContainer { // <div>
				display: flex;
				column-gap: 10px;
			}

			&__warning { // <p>
				background-color: $warning;
				text-align: center;
				margin: 0;
				padding: {
					top: 5px;
					bottom: 5px;
				}
				border-radius: 22px;
			}

			&__selection { // <select>
				width: calc(100% - (50px + 10px));
				height: 50px;
				border: none;
				border-radius: 50px;
				border: {
					style: solid;
					width: 1px;
					color: $primary;
				}
				outline: none;
				padding: {
					right: 10px;
					left: 10px;
				}
				appearance: none;
				background: {
					image: url("data:image/svg+xml;utf8,<svg width='50' height='50' viewBox='0 0 50 50' xmlns='http://www.w3.org/2000/svg'><path d='M24.2929 31.2929L8 15C7.44772 14.4477 6.55228 14.4477 6 15C5.44772 15.5523 5.44771 16.4477 6 17L24.2929 35.2929C24.6834 35.6834 25.3166 35.6834 25.7071 35.2929L44 17C44.5523 16.4477 44.5523 15.5523 44 15C43.4477 14.4477 42.5523 14.4477 42 15L25.7071 31.2929C25.3166 31.6834 24.6834 31.6834 24.2929 31.2929Z' fill='rgb(18, 73, 94)'/></svg>");
					size: 15px;
					repeat: no-repeat;
					position: calc(100% - 10px) center;
				}
				font: {
					family: $notoSans;
					size: 16px;
				}
				color: $primary;
			}

			&__option { // <option>
			}
		}
	}



	&__search { // <form>
		@extend .userInput__dropdown;

		&--closed {
			@extend .userInput__dropdown--closed;
		}

		.search {
			&__label { // <label>
				@extend .dropdown__label;
			}

			&__fieldsContainer { // <div>
				@extend .dropdown__fieldsContainer;
			}

			&__warning {
				@extend .dropdown__warning;
			}

			&__field { // <input>
				@extend .dropdown__selection;
				background-image: unset;
			}
		}
	}

	&__field { // <input>
		@extend .dropdown__selection;
	}
}
