// PHONEDETAILS
.phoneDetails { // <main>
	@extend .home;

	&__title { // <h2>
		@include productTitle;
		margin: {
			right: 20px;
			left: 20px;
		}
	}

	&__presentation { // <div>
		@include gradientBackground;
		display: flex;
		flex-direction: column;
		row-gap: 40px;
		padding: {
			right: 20px;
			left: 20px;
		}

		.presentation {
			@include whiteBackground;

			&__thumbnailContainer { // <div>
				display: flex;
				justify-content: center;
			}

			&__thumbnail { // <img>
				max-width: 150px;
			}
		}

		.informations { // <div>
			dl {
				margin: 0;

				dt {
					font-weight: 900;

					&:not(:first-child) {
						margin-top: 20px;
					}
				}

				dd {
					margin: 0;
				}
			}
		}
	}

	&__specifications { // <div>
		display: flex;
		flex-direction: column;
		row-gap: 40px;
		padding: {
			right: 20px;
			left: 20px;
		}
		color: $primary;

		.specifications { // <section>
			display: inherit;
			align-items: stretch;
			column-gap: 10px;
			row-gap: 20px;

			&__container { // <div>
				display: inherit;
				align-items: start;
				background-image: $gradient;
				border-radius: 35px;

				.container {
					&__title { // <h3>
						display: inherit;
						flex-direction: column-reverse;
						align-items: center;
						text-transform: uppercase;
						margin: 0;
						padding: {
							top: 20px;
							right: 10px;
							bottom: 20px;
							left: 10px;
						}
		
						.title { // <span>
							transform: rotateZ(-90deg);
							color: $white;
						}

						.space { // <span>
							height: 25px;
						}
					}
				}
			}

			dl {
				margin: 0;

				dt {
					font-weight: 900;

					&:not(:first-child) {
						margin-top: 20px;
					}
				}

				dd {
					margin: 0;
					white-space: pre-line;
				}
			}
		}
	}
}
